@model TodoViewModel
@using Humanizer

@{
    ViewData["Title"] = "Manage your to-do list";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Item</td>
                <td>Due</td>
            </tr>
        </thead>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <input type="checkbox" class="done-checkbox">
                </td>
                <td>@item.Title</td>
                <td>@item.DueAt.Humanize()</td>
            </tr>
        }
        <table />

        <div class="panel-footer add-item-form">
            @* return an object typed TodoItem back to the TodoContoller. This object will include only a Title property*@
            @await Html.PartialAsync("AddItemPartial", new TodoItem())
        </div>
</div>
